<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset name="general">
        <field
                name="sourcePath"
                type="text"
                label="COM_PWTIMAGE_CONFIG_SOURCEPATH_LABEL"
                description="COM_PWTIMAGE_CONFIG_SOURCEPATH_DESC"
                class="input-xxlarge"
                default="/images"/>

        <field
                name="subPath"
                type="text"
                label="COM_PWTIMAGE_CONFIG_SUBPATH_LABEL"
                description="COM_PWTIMAGE_CONFIG_SUBPATH_DESC"
                class="input-xxlarge"
                default="{year}/{month}"/>

        <field
                name="filenameFormat"
                type="text"
                label="COM_PWTIMAGE_CONFIG_FILENAMEFORMAT_LABEL"
                description="COM_PWTIMAGE_CONFIG_FILENAMEFORMAT_DESC"
                class="input-xxlarge"
                default="{d}_{random}_{name}"/>

        <field
                name="imageWidth"
                type="textarea"
                label="COM_PWTIMAGE_CONFIG_IMAGEWIDTH_LABEL"
                description="COM_PWTIMAGE_CONFIG_IMAGEWIDTH_DESC"
                rows="5"
                default=""/>
    </fieldset>

    <fieldset
            name="features"
    >
        <field
                name="checkSize"
                type="radio"
                label="COM_PWTIMAGE_CONFIG_CHECKSIZE_LABEL"
                description="COM_PWTIMAGE_CONFIG_CHECKSIZE_DESC"
                default="1"
                class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
                name="showFolder"
                type="radio"
                label="COM_PWTIMAGE_CONFIG_SHOWFOLDER_LABEL"
                description="COM_PWTIMAGE_CONFIG_SHOWFOLDER_DESC"
                default="0"
                class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="showTools"
                type="radio"
                label="COM_PWTIMAGE_FIELD_SHOWTOOLS_LABEL"
                description="COM_PWTIMAGE_FIELD_SHOWTOOLS_DESC"
                default="1"
                class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
<!--
        <field
                name="showGallery"
                type="radio"
                label="COM_PWTIMAGE_FIELD_GALLERY_LABEL"
                description="COM_PWTIMAGE_FIELD_GALLERY_DESC"
                default="0"
                class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
-->
        <field
                name="showHelp"
                type="radio"
                label="COM_PWTIMAGE_FIELD_SHOWHELP_LABEL"
                description="COM_PWTIMAGE_FIELD_SHOWHELP_DESC"
                default="1"
                class="btn-group btn-group-yesno"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>

    <fieldset name="update">
        <field name="downloadid" type="text" default="" size="50" label="COM_PWTIMAGE_DOWNLOAD_LABEL" description ="COM_PWTIMAGE_DOWNLOAD_DESC" />
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_pwtimage"
                section="component"/>
    </fieldset>
</config>