.bannergroup {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.banneritem {
	flex-grow:0;
	flex-shrink:1;

	a {
		display: block;
		padding: 2/3 * $base-spacing;
	}

	.module__sponsor--diamant & {
		flex-basis:320px;
	}

	.module__sponsor--goud & {
		flex-basis:250px;
	}

	.module__sponsor--zilver & {
		flex-basis:180px;
	}
}
