.module {
	@include e('title') {
		@include m('h1') {
			@include font($font-size--h1, $bold)
		}
		@include m('h2') {
			@include font($font-size--h2, $bold)
		}
		@include m('h3') {
			@include font($font-size--h3, $bold)
		}

		.block--sponsors & {
			display: inline-block;
			position: relative;
			color: $jd-gray;
			@include font($font-size--h3, $light);

			@include media($charlie) {
				&:before,
				&:after {
					content: "";
					position: absolute;
					height: 0;
					border-top: 1px solid $jd-gray;
					top: 50%;
					width: 100%;
				}
				&:before {
					right: 100%;
					margin-right: 15px;
				}
				&:after {
					left: 100%;
					margin-left: 15px;
				}
			}
		}
	}

	@include e('header') {
		.block--sponsors & {
			text-align: center;
		}
	}
}

