.module__location {
  @include spacing(top, margin, 1);
  @include spacing(bottom, margin, 2);

  .module__header {
    text-align: center;
  }

  .module__content {
    display: flex;
    flex-wrap: wrap;
  }

  .media-placeholder {
    @include spacing(bottom, margin, 0.5);
    @include spacing(left, margin, 0.5);

    &:first-child,
    &:nth-child(4) {
      margin-left: 0;
    }
  }

  .media-placeholder--4by3 {
    flex: 1 1 20%;
  }

  .media-placeholder--8by3 {
    flex: 1 1 45.5%;
  }
}