.module {
	@include e('title') {
		@include m('h1') {
			@include font($font-size--h1, $bold, $line-height--header);
			@include spacing(top, padding, 1);
			@include spacing(bottom, padding, 0.5);
		}
		@include m('h2') {
			@include font($font-size--h2, $weight-normal, 1.2);
			@include spacing(top, padding, 0.5);
			@include spacing(bottom, padding, 0.5);
		}
		@include m('h3') {
			@include font($font-size--h3, $bold, $line-height--header);
			@include spacing(top, padding, 1);
			@include spacing(bottom, padding, 0.5);
		}
	}
}


.module__dagopzet {
	@include spacing(top, padding, 2);
	@include spacing(right, padding, 1);
	@include spacing(bottom, padding, 2);
	@include spacing(left, padding, 1);

	.module__header {
		text-align: center;

		.module__title--h2 {
			font-weight: $weight-bold;
			font-size: 1.5rem;
			@include spacing(bottom, padding, 1);
		}
	}

	img {
		width: 12vw;
		@include spacing(all, margin, 0.5);
	}
}