/*
Pagination

markup:


Styleguide 3.4
*/

.pagination {
	text-align: center;
	padding: $base-spacing 0;

	@include e('container') {
		background: $jd-gray--light;
	}

	@include m('list') {
		@include reset($margin: false);
		font-size: 0;
		line-height: 0;
		display: inline-block;
		margin: 0 0 $base-spacing 0;
		background: $jd-gray--light;
	}

	/**
	 * Items
	 *
	 * 1. Hide items by default for slim pagination on mobile
	 * 2. Re-set font-size and line-height
	 * 3. nowrap items so the whole pagination stays neatly on one line
	 * 4. Display items from $beta viewport
	 * 5. Always display first, prev, active, next and last items
	 */

	@include e('item') {
		display: none; /* 1 */
		font-size: $base-font-size; /* 2 */
		line-height: $base-line-height; /* 2 */
		margin-left: 1px;
		white-space: nowrap; /* 3 */

		@include breakpoint(beta) {
			display: inline-block; /* 4 */
		}

		/* 5 */
		&.pagination--first,
		&.pagination--prev,
		&.pagination--active,
		&.pagination--next,
		&.pagination--last {
			display: inline-block;
		}

		&:first-child {
			margin-left: 0;

			.pagination__item__content {
				border-radius: $base-border-radius 0 0 $base-border-radius;
			}
		}

		&:last-child {
			.pagination__item__content {
				border-radius: 0 $base-border-radius $base-border-radius 0;
			}
		}

		/**
		 * Pagination content
		 */

		.pagination__item__content {
			display: block;
			background: $jd-gray--light;
			padding: $spacing--micro $spacing--third;
			text-decoration: none;
			font-weight: $bold;
			@include transition;
		}

		&.pagination--first,
		&.pagination--prev,
		&.pagination--next,
		&.pagination--last {
			.pagination__item__content {
				font-weight: $normal;
			}
		}

		a.pagination__item__content {
			color: $jd-blue;

			svg {
				fill: $jd-blue;
			}

			&:focus,
			&:hover {
				color: $jd-green;

				svg {
					fill: $jd-green;
				}
			}
		}

		span.pagination__item__content {
			color: $jd-blue;

			svg {
				fill: $jd-blue;
			}
		}

		svg {
			padding: 2px;
			vertical-align: middle;
		}

		&.pagination__item--inactive {
			.pagination__item__content {
				color: $jd-gray--dark;

				svg {
					fill: $jd-gray--dark;
				}
			}

			&.pagination--active {
				.pagination__item__content {
					color: $white;
					background-color: $jd-green;

					svg {
						fill: $jd-gray--dark;
					}
				}

			}
		}

		/**
		 * Space icons
		 *
		 * Only space from $site-width media because text isn't visible before this media
		 */

		@include breakpoint(foxtrot) {
			svg + span {
				margin-left: $spacing--micro;
			}

			span + svg {
				margin-left: $spacing--micro;
			}
		}

		/**
		 * Hidden on mobile
		 *
		 * We're hiding text on mobile so we get a neat little paginator
		 */

		.hidden-mobile {
			@include breakpoint(alpha--plus) {
				display: none;
			}

			@include breakpoint(foxtrot) {
				display: inline;
			}
		}
	}
}
