.speakersocial {

	@include e('icon') {
		//&:before {
		//	font-size: $font-size--h3;
		//}


		@mixin speakersocialiconstyling($bg-color: $jd-blue) {
			background-color: $bg-color;
			color: $white;
			padding: 1/2 * 2/3 * $base-spacing;
			margin-right: 1/2 * 2/3 * $base-spacing;
		}

		@include m('twitter') {
			@include icon-before(twitter, true) {
				@include speakersocialiconstyling($color-twitter);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('facebook') {
			@include icon-before(facebook, true) {
				@include speakersocialiconstyling($color-facebook);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('linkedin') {
			@include icon-before(linkedin, true) {
				@include speakersocialiconstyling($color-linkedin);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('googleplus') {
			@include icon-before(google-plus, true) {
				@include speakersocialiconstyling($color-googleplus);
			}
			span {
				@include visually-hidden;
			}
		}

		@include m('website') {
			@extend .btn;
		}
	}
}
