.speakersocial {

	@include e('icon') {
		//&:before {
		//	font-size: $font-size--h3;
		//}


		@mixin speakersocialiconstyling($bg-color: $jd-blue) {
			background-color: $bg-color;
			color: $white;
			padding: 1/2 * 2/3 * $base-spacing;
			margin-right: 1/2 * 2/3 * $base-spacing;
		}

		@include m('twitter') {
			@include pseudo(before) {
				@include svg-background($icon--twitter, $color-twitter, 1.5 * $spacing-s);
				@include speakersocialiconstyling($color-twitter);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('facebook') {
			@include pseudo(before) {
				@include svg-background($icon--facebook, $color-facebook, 1.5 * $spacing-s);
				@include speakersocialiconstyling($color-facebook);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('linkedin') {
			@include pseudo(before) {
				@include svg-background($icon--linkedin, $color-linkedin, 1.5 * $spacing-s);
				@include speakersocialiconstyling($color-linkedin);
			}
			span {
				@include visually-hidden;
			}
		}
		@include m('googleplus') {
			@include pseudo(before) {
				@include svg-background($icon--google-plus, $color-google-plus, 1.5 * $spacing-s);
				@include speakersocialiconstyling($color-google-plus);
			}
			span {
				@include visually-hidden;
			}
		}

		@include m('website') {
			@extend .btn;
		}
	}
}
