.footer {
	background-color: $jd-blue;
	color: $white;
	width: 100%;

	a,
	.separator {
		@include anchor($white, $white);
	}

	form {
		color: initial;
	}

	@include e('wrapper') {
		@include outer-container;

		padding: 2 * $base-spacing 2/3 * $base-spacing;

		@include media($charlie) {

			@include m('about') {
				@include span-columns(12 of 12);
			}

			@include m('links') {
				@include span-columns(6 of 12);
			}

			@include m('form') {
				@include span-columns(6 of 12);
				@include omega();
			}
		}

		@include media($delta) {
			@include m('about') {
				@include span-columns(6 of 12);
			}

			@include m('links') {
				@include span-columns(3 of 12);
			}

			@include m('form') {
				@include span-columns(3 of 12);
				@include omega();
			}
		}

		@include media($echo) {
			padding: 2 * $base-spacing 0;
		}
	}
}
