.header {
	background-color: $black;
	color: $white;
	padding: 5px;

	@include e('wrapper') {
		@include container;
		//@include block-spacing;
		padding: 0;
		@include clearfix;
		position: relative;
		z-index: 2;
	}

	@include e('logo') {
		@include breakpoint(charlie) {
			position: absolute;
			top: 5px;
		}
	}

	@include e('navigation') {
		@include breakpoint(charlie) {
			@include span(8);
			@include shift(4);
		}
	}

}
