// Color
$black: rgb(0,0,0);
$white: rgb(255,255,255);

$jd-blue: rgb(27,99,162);
$jd-blue--dark: rgb(12,25,46);

$jd-orange: orange;

$jd-gray: rgb(150,150,150);
$jd-gray--light: rgb(240,240,240);
$jd-gray--dark: rgb(80,80,80);

$type: $jd-gray--dark;

$alert-error: rgb(237,27,46);
$alert-success: rgb(0,126,0);
$alert-warning: rgb(220,146,0);
