#obsupport {
	padding-left: 60px!important;
	background: url(../images/foobla-channel_48.png) no-repeat bottom left;
}
/* Fix margin bottom on Options button on toolbar */
#toolbar #toolbar-options {
	margin-bottom: 10px;
}
.drag_drop{
	cursor: move;
}

#foobla textarea.format_post {
	display: block;
	width: 100% !important;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#foobla table .container {
	width: auto !important;
}

.obss-btn-share-wrap {
	position: relative;
	overflow: visible;
}

.obss-network-container {
	width: 300px;
	position: absolute;
}

.obss-network-container .chzn-drop {
	top:0px;
}

.obss_network_select_box {
	width:100% !important;
	padding-right: 26px;
}
.btn-show-networks a {
	padding-right: 5px;
}
.obss_network_select_box ul {
	margin:0!important;
}
.obss_network_select_box ul.chzn-choices {
	border:none;
	background:none;
}

.obss_network_select_box li.search-choice {
	margin-left:0 !important;
	margin-right:100px;
	margin-top:-2px;
	clear:both;
}

.obss_network_select_box ul.chzn-choices li:first-child {
	margin-top: 0!important;
}
.obss_network_select_box li a:hover {
	text-decoration: none;
}

.obss_network_select_box .chzn-drop{
	display:none;
}

.chzn-with-drop  .chzn-drop{
	display:block;
}

.obss-addon-label {
	display: inline-block;
}

.btn .caret {
	margin-bottom: 5px !important;
}

#foobla .well.template {
	background: #f2dede;
	color: #3a87ad;
}

#foobla .well.template label {
	font-weight: bold !important;
}

#foobla .well.template  textarea{
	color: #3a87ad;
	margin-bottom: 10px;
	width: 200px;
}

.obss-selected-networks {
	position: relative;
}

#foobla .well.transparent {
	background: none;
}
#foobla .well.success {
	background: #dff0d8;
}
#foobla .well.error {
	background: #f2dede;
}
#foobla .well.warning {
	background: #FCF8E6;
}
#foobla .well.info {
	background: #d9edf7;
}

#foobla .pull-left .btn-wrapper {
	float:left;
	padding-right:10px;
}

/* Set color label */
span.ob_addon{ padding-right: 5px;margin-left:-5px;}
span.ob_id{background: none repeat scroll 0 0 #FF0000; margin-left: -7px; padding-left: 5px;     padding-right: 5px;}

#foobla #adapterList .chzn-container-multi .chzn-choices li.search-choice{width: 280px;}
#foobla a.btn-add-network{display: block;     text-align: center;    padding-bottom: 5px;}
#foobla a.btn-add-network:hover{text-decoration: none}
.item_unpublished .hidden-phone [id^="cids"]{display: none}
.ob_toggle{position: absolute; top:0; right:0; float: right;cursor: pointer}
.select_connections hr{margin: 5px 0}
.select_connections .chzn-drop{border: 1px solid #aaa;}