.icon-obsocialsubmit_14 {
	background: url("../images/icons/social_14.png") no-repeat scroll 0 0 transparent;
}

.icon-obsocialsubmit_16 {
	background: url("../images/icons/social_14.png") no-repeat scroll 0 0 transparent;
}
.icon-obsocialsubmit_48{
	background-image:url('../images/icons/social_48.png');
}
#obsupport {
	padding-left: 60px!important;
	background: url(../images/foobla-channel_48.png) no-repeat bottom left;
}


#obss_publish_box_wrap{
	display: block;
	background: green;
	padding: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-color: graytext;
	border-style: solid;

}

.obss_adapter_wrap {
	display: block;
	width: 300px;
	float: left;
	background: white;
	border: solid black thin;
	padding: 5px;
	margin: 5px;
	min-height: 80px;
}

.obss_connections_wrap{
	padding-left: 20px;
}