@mixin anchor-decoration($style: 'inverse') {

  @if $style == 'inverse' {
    text-decoration: none;

    @include hover {
      text-decoration: underline;
    }
  }

  @if $style == 'none' {
    text-decoration: none;

    @include hover {
      text-decoration: none;
    }
  }
}