@mixin svg-background($svg, $color: black, $width: 24, $height: false, $viewboxWidth: 24, $viewboxHeight: false, $background-position: center, $background-repeat: no-repeat) {
  @if $height == false {
    $height: $width;
  }
  @if $viewboxHeight == false {
    $viewboxHeight: $viewboxWidth;
  }
  background-image: url('data:image/svg+xml;utf-8,<svg style="fill: #{$color};" xmlns="http://www.w3.org/2000/svg" width="#{$width}" height="#{$height}" viewBox="0 0 #{$viewboxWidth} #{$viewboxHeight}">#{$svg}</svg>');
  background-position: $background-position;
  background-repeat: $background-repeat;
}