// Form group
//
// Markup:
// <div class="form-group">
//     <label for="input">Label</label>
//     <input type="text" class="form-control" placeholder="Placeholder" id="input" />
// </div>
//
// Styleguide form.group

.form-group {
  @include content-block;

  label {
    display: inline-block;
    margin-bottom: $spacing-s;
  }
}

// Form control
//
// Markup:
// <input type="text" class="form-control" placeholder="Placeholder" />
// <br/><br/>
// <textarea class="form-control"></textarea>
//
// Styleguide form.control

.form-control {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  line-height: 24px;
  border: 1px solid color(blue, dark);
}

textarea.form-control {
  height: auto;
}



// RSForm
// RSForm styling
// We don't need to add this to the styleguide because markup is coming from RSForms

fieldset,
.control-group,
.rsform-block {
  @include clearfix;
  @include content-block;
}

.input-mini,
.controls input[type="text"],
.controls input[type="password"],
.controls input[type="email"],
.controls input[type="date"],
.controls input[type="datetime-local"],
.controls input[type="month"],
.controls input[type="number"],
.controls input[type="tel"],
.controls input[type="time"],
.controls input[type="url"],
.controls input[type="week"],
.form-control-text,
.rsform-text-box,
.rsform-input-box,
.rsform-select-box {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  line-height: 24px;
  border: 1px solid color(blue, dark);
}

.rsform-select-box {
  -webkit-appearance: menulist-button;
}

.input-mini {
  width: 56px;
}

.control-label,
.formControlLabel {
  display: inline-block;
  margin-bottom: $spacing-s;

  &:empty {
    @include visually-hidden();
  }
}

.formBody {
  float: none;
  width: 100%;
}

[class*="rsform-button"],
.rsform-button,
.rsform-submit-button {
  @include button-structure($vertical-align: false);
  //background: color(blue, dark);
  //color: white;
  text-decoration: none;
  //padding: 5px $spacing-m 3px;
  //box-shadow: 0 2px 2px rgba(black, 0.5);
  //border: none;
  //border-radius: 0;
  //@include transition(background);
  //font-size: 15px;
  //line-height: 24px;

  span {
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }

  //@include hover {
  //  background: color(blue, base);
  //}
  //
  //&:focus {
  //  outline: 2px solid color(blue, base);
  //}

  &:last-child {
    margin-right: 0;
  }
}

.formControls {
  @include clearfix;
}

.formBody {
  @include clearfix;

  [type="radio"],
  [type="checkbox"] {
    clear: left;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 1;
    margin: 0 0 $spacing-m !important;
    opacity: 0;
    float: left;

    + label {
      height: auto;
      display: block;
      margin: 0 0 $spacing-m;
      margin-left: 40px;
      position: relative;
      cursor: pointer;
      padding: $spacing-s $spacing-m;
      touch-action: manipulation;
    }
  }

  /* Box */

  [type=radio] + label::before,
  [type=checkbox] + label::before {
    content: "";
    border: $illusion-form-border-width solid;
    background: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -40px;
  }

  /* Rounded box */

  [type=radio] + label::before {
    border-radius: 50%;
  }

  /* Dot and checkmark */

  [type=radio] + label::after,
  [type=checkbox] + label::after {
    display: block;
    content: " ";
    border: 12px solid;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    @include transition;
  }

  /* Dot */

  [type=radio] + label::after {
    width: 0;
    height: 0;
    top: 8px;
    left: -32px;
    border-radius: 50%;
  }

  /* Checkmark */

  [type=checkbox] + label::after {
    border-width: 0 0 6px 6px;
    background: transparent;
    width: 22px;
    height: 12px;
    top: 12px;
    left: -30px;
    transform: rotate(-45deg) scale(0.5);
  }

  /* Checked styling */

  [type=checkbox]:checked + label::after,
  [type=radio]:checked + label::after {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }

  /* Focus styling */

  [type=checkbox]:focus + label::before,
  [type=radio]:focus + label::before {
    box-shadow: 0 0 0 3px #ffbf47;
  }

  /* textarea */
  textarea {
    height: auto;
  }
}


.formResponsive {
  .formValidation {
    display: inline;
  }

  input[type="submit"] {

  }

  input[type="radio"] + label {

  }

  .rsform-block {
    margin-bottom: 5px;
    overflow: hidden;
  }

  .formControlLabel {
    text-align: left;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint($menu) {
      text-align: right;
    }
  }

  .formControls {

    .rsform-input-box {
    }

    .rsform-error {
      border-color: color(red,base);
    }

    .formError {
      color: color(red,base);
      display: block;
      margin-top: 5px;
    }
  }

  .formNoError {
    display: none;
  }

  select.rsform-select-box {
    border: 1px solid color(grey, base);
  }

  .rsform-block-date-of-birth select.rsform-select-box {
    width: inherit;
    display: inline;
    max-width: 100px;
  }
}


.view-rsform {
  .article__item {
    @include breakpoint($delta) {
      width: 65%;
      margin:0 auto;
    }
  }
}

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 9px;
  vertical-align: middle;
  font-size: 0;
  white-space: nowrap;
}
.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-append .dropdown-menu,
.input-append .popover,
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input,
.input-prepend .dropdown-menu,
.input-prepend .popover {
  font-size: 13px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input,
.input-prepend input,
.input-prepend select,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append input:focus,
.input-append select:focus,
.input-append .uneditable-input:focus,
.input-prepend input:focus,
.input-prepend select:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}
.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 40px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 13px;
  font-weight: normal;
  line-height: 32px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .add-on,
.input-prepend .btn,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}
.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}
input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  margin-bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  border-radius: 14px 0 0 14px;
}
.js-stools-field-filter .input-prepend,
.js-stools-field-filter .input-append {
  margin-bottom: 0;
}
.form-search input,
.form-search textarea,
.form-search select,
.form-search .help-inline,
.form-search .uneditable-input,
.form-search .input-prepend,
.form-search .input-append,
.form-inline input,
.form-inline textarea,
.form-inline select,
.form-inline .help-inline,
.form-inline .uneditable-input,
.form-inline .input-prepend,
.form-inline .input-append,
.form-horizontal input,
.form-horizontal textarea,
.form-horizontal select,
.form-horizontal .help-inline,
.form-horizontal .uneditable-input,
.form-horizontal .input-prepend,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}
.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}
.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}