// Form group
//
// Markup:
// <div class="form-group">
//     <label for="input">Label</label>
//     <input type="text" class="form-control" placeholder="Placeholder" id="input" />
// </div>
//
// Styleguide form.group

.form-group {
  @include content-block;

  label {
    display: inline-block;
    margin-bottom: $spacing-s;
  }
}

// Form control
//
// Markup:
// <input type="text" class="form-control" placeholder="Placeholder" />
// <br/><br/>
// <textarea class="form-control"></textarea>
//
// Styleguide form.control

.form-control {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  line-height: 24px;
  border: 1px solid color(blue, dark);
}

textarea.form-control {
  height: auto;
}



// RSForm
// RSForm styling
// We don't need to add this to the styleguide because markup is coming from RSForms

fieldset,
.control-group,
.rsform-block {
  @include clearfix;
  @include content-block;
}

.input-mini,
.controls input[type="text"],
.controls input[type="password"],
.controls input[type="email"],
.controls input[type="date"],
.controls input[type="datetime-local"],
.controls input[type="month"],
.controls input[type="number"],
.controls input[type="tel"],
.controls input[type="time"],
.controls input[type="url"],
.controls input[type="week"],
.form-control-text,
.rsform-text-box,
.rsform-input-box,
.rsform-select-box {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  padding: 8px 12px;
  line-height: 24px;
  border: 1px solid color(blue, dark);
}

.rsform-select-box {
  -webkit-appearance: menulist-button;
}

.input-mini {
  width: 56px;
}

.control-label,
.formControlLabel {
  display: inline-block;
  margin-bottom: $spacing-s;

  &:empty {
    @include visually-hidden();
  }
}

.formBody {
  float: none;
  width: 100%;
}

[class*="rsform-button"],
.rsform-button,
.rsform-submit-button {
  @include button-structure($vertical-align: false);
  //background: color(blue, dark);
  //color: white;
  text-decoration: none;
  //padding: 5px $spacing-m 3px;
  //box-shadow: 0 2px 2px rgba(black, 0.5);
  //border: none;
  //border-radius: 0;
  //@include transition(background);
  //font-size: 15px;
  //line-height: 24px;

  span {
    display: inline-block;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;

    &:first-child {
      margin-right: 6px;
    }

    &:last-child {
      margin-left: 6px;
    }
  }

  //@include hover {
  //  background: color(blue, base);
  //}
  //
  //&:focus {
  //  outline: 2px solid color(blue, base);
  //}

  &:last-child {
    margin-right: 0;
  }
}

.formControls {
  @include clearfix;
}

.formBody {
  @include clearfix;

  [type="radio"],
  [type="checkbox"] {
    clear: left;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 1;
    margin: 0 0 $spacing-m !important;
    opacity: 0;
    float: left;

    + label {
      height: auto;
      display: block;
      margin: 0 0 $spacing-m;
      margin-left: 40px;
      position: relative;
      cursor: pointer;
      padding: $spacing-s $spacing-m;
      touch-action: manipulation;
    }
  }

  /* Box */

  [type=radio] + label::before,
  [type=checkbox] + label::before {
    content: "";
    border: $illusion-form-border-width solid;
    background: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -40px;
  }

  /* Rounded box */

  [type=radio] + label::before {
    border-radius: 50%;
  }

  /* Dot and checkmark */

  [type=radio] + label::after,
  [type=checkbox] + label::after {
    display: block;
    content: " ";
    border: 12px solid;
    position: absolute;
    opacity: 0;
    transform: scale(0.5);
    @include transition;
  }

  /* Dot */

  [type=radio] + label::after {
    width: 0;
    height: 0;
    top: 8px;
    left: -32px;
    border-radius: 50%;
  }

  /* Checkmark */

  [type=checkbox] + label::after {
    border-width: 0 0 6px 6px;
    background: transparent;
    width: 22px;
    height: 12px;
    top: 12px;
    left: -30px;
    transform: rotate(-45deg) scale(0.5);
  }

  /* Checked styling */

  [type=checkbox]:checked + label::after,
  [type=radio]:checked + label::after {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }

  /* Focus styling */

  [type=checkbox]:focus + label::before,
  [type=radio]:focus + label::before {
    box-shadow: 0 0 0 3px #ffbf47;
  }

  /* textarea */
  textarea {
    height: auto;
  }
}


.formResponsive {
  .formValidation {
    display: inline;
  }

  input[type="submit"] {
    .btn();
    .btn-primary();
    .btn-block();
    .btn-lg();
  }

  input[type="radio"] + label {
    margin: 0 10px;
  }

  .rsform-block {
    .form-group();
    margin-bottom: 5px;
    overflow: hidden;
  }

  .formControlLabel {
    .make-md-column(4);
    text-align: left;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: @screen-md-min) {
      text-align: right;
    }
  }

  .formControls {
    .make-md-column(8);

    .rsform-input-box {
      .form-control();
    }

    .rsform-error {
      border-color: @state-danger-text;
    }

    .formError {
      color: @state-danger-text;
      display: block;
      margin-top: 5px;
    }
  }

  .formNoError {
    display: none;
  }

  select.rsform-select-box {
    .form-control();
    border: 1px solid color(grey, base);
  }

  .rsform-block-date-of-birth select.rsform-select-box {
    width: inherit;
    display: inline;
    max-width: 100px;
  }
}
