.fa {
  padding-left: $spacing-l;

  @include pseudo(before) {
    height: $spacing-m;
    width: $spacing-m;
    left: 0;
    top: 0;
    @include transition(all);
  }

  span {
    @include visually-hidden;
    @include breakpoint(900px) {
      @include visually-shown;
    }
  }
}

.fa-chevron-left {
  @include pseudo(before) {
    @include svg-background($icon--chevron-left, #ffffff, 2 * $spacing-s);
  }
}

.fa-download-alt {
  @include pseudo(before) {
    @include svg-background($icon--download, color(text), 2 * $spacing-s);
  }
}

.fa-list-alt {
  @include pseudo(before) {
    @include svg-background($icon--list-alt, color(text), 2 * $spacing-s);
  }
}

.fa-pdf {
  @include pseudo(before) {
    @include svg-background($icon--pdf, color(text), 2 * $spacing-s);
  }
}

.fa-print {
  @include pseudo(before) {
    @include svg-background($icon--print, color(text), 2 * $spacing-s);
  }
}

.fa-shoppingcart {
  @include pseudo(before) {
    @include svg-background($icon--shopping-cart, #ffffff, 2 * $spacing-s);
  }
}

.fa-trash-o {
  @include pseudo(before) {
    @include svg-background($icon--trash, color(text), 2 * $spacing-s);
    top: 2px;
  }
}