.video-container {
  position: relative;
  @include ratio-block;
  @include spacing(bottom, margin);

  iframe {
    @include coverall;
    width: 100%;
    height: 100%;
  }
}

.media-placeholder {
  display: block;
  position: relative;
  //background: color(blue, light) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA4IDgiPiAgPHBhdGggZD0iTTAgMHY4aDh2LThoLTh6bTEgMWg2djNsLTEtMS0xIDEgMiAydjFoLTFsLTQtNC0xIDF2LTN6IiAvPjwvc3ZnPg==) no-repeat center;
  background: white url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) repeat center;
  background-size: 50px;
  overflow: hidden;

  .lazyload {
    @include coverall;
  }

  img {
    width: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.media-placeholder--16by9 {
  @include ratio-block(16 by 9);
}

.media-placeholder--4by3 {
  @include ratio-block(4 by 3);
}

.media-placeholder--1by1 {
  @include ratio-block(1 by 1);
}

.media-placeholder--A4 {
  @include ratio-block(3 by 4);
}