.numbers__wrapper {
  @include flexbox($beta) {
    display: flex;
    justify-content: space-between;
  }
}

.numbers {
  @include reset;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  @include spacing(top, padding, 0.5);
  @include spacing(bottom, padding, 0.5);
}

.numbers__item {
  display: inline-block;
  text-align: center;

  & + & {
    @include spacing(left, margin, 0.5);
  }

  &:first-child {
    flex-basis: 100%;
    @include flexbox($charlie) {
      flex-basis: auto;
    }
  }

  @include breakpoint(0, $charlie) {
    &:nth-child(2) {
      margin-left: auto;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

}

.numbers__item-head,
.numbers__item-label {
  display: inline-block;
}

.numbers__item-head {
  font-size: 1.1rem;
  font-weight: $weight-bold;
}

.numbers__item-label {
  font-size: 0.7rem;
  font-weight: $weight-light;
}