.conference {

	.btn-toolbar {
		> div {
			display: inline-block;
			margin-bottom: $base-spacing;
		}
	}

	.spreker {
		.row-fluid {
			@include container;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: $base-spacing;

			padding: $base-spacing;
			@include grid-media($grid-charlie) {
				padding: 0;
			}
		}

		.span4 {
			@include grid-media($grid-charlie) {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 0;
				padding-right: 2/3 * $base-spacing;
			}
		}

		.span8 {

			@include grid-media($grid-charlie) {
				flex-grow: 3;
				flex-shrink: 1;
				flex-basis: 0;
			}
		}

		.thumbnail {
			display: block;
			padding-left: $base-spacing;
			padding-right: $base-spacing;
		}
	}
}

.view-speakers {
	.conference {
		.spreker {
			.btn {
				@extend button;
				color: $white;
				-webkit-appearance: inherit;
				padding: 1/8 * 2/3 * $base-spacing 1/2 * $base-spacing;
			}
		}
	}
}
