// Color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$jd-blue--dark: rgb(12, 25, 46);

$jd-orange: orange;

// https://docs.joomla.org/JDOC:Colors
$jd-green: rgb(122, 193, 67);
$jd-orange: rgb(249, 165, 65);
$jd-blue: rgb(80, 145, 205);
$jd-red: rgb(244, 67, 33);

$jd-gray: rgb(150, 150, 150);
$jd-gray--light: rgb(240, 240, 240);
$jd-gray--dark: rgb(80, 80, 80);


$alert-error: rgb(237, 27, 46);
$alert-success: rgb(0, 126, 0);
$alert-warning: rgb(220, 146, 0);



$type: $jd-gray--dark;
$action-color: $jd-green;
