.block {

	@include e('countdown') {
		@include m('container') {
			@include container;
			position: relative;
		}

		@include m('content') {
			z-index: 1;
			width: 175px;
			position: absolute;
			top: 60px;
			left: 5%;

			.path-home & {
				position: absolute;
				top: 20px;
				left: 45%;

				@include breakpoint(beta) {
					position: absolute;
					top: 100px;
					left: 30%;
				}
			}
		}
	}

	@include e('paralax') {
		position: relative;
		height: auto;
		padding: 3 * $base-spacing 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;

		&:after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: -1;
			content: ' ';
		}

		@include m('logo') {
			position: relative;
			padding-top: 75px;

			color: $white;

			@include breakpoint(charlie) {
				@include span(5 of 12);
				@include shift(1 of 12);
			}
		}

		@include m('logo-figure') {
			//@include position(absolute, -75px null null null);
			@include size(100px);
		}

		@include m('shop') {
			background-color: $white;
			padding: $base-spacing;
			.module__title {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			@include breakpoint(charlie) {
				@include span(4 of 12);
				@include shift(1 of 12);
			}
		}
	}

	@include e('wrapper') {
		@include container;
		padding: 3 * $base-spacing $base-spacing 2 * $base-spacing;

		@include breakpoint(charlie) {
			padding: 3 * $base-spacing 0 2 * $base-spacing;
		}

		@include m('reset') {
			@include reset;
		}
	}

	@include e('header') {
		@include m('home') {
			background-image: url("../images/headers/header_afbeelding_jd17nl-dark.jpg");
			background-position: 50% 0;
			background-size: cover;
		}
	}

	@include m('info') {
		@include container;

		.module {
			@include span(12 of 12);

			@include  breakpoint(charlie) {
				@include span(8 of 12);
				@include shift(2 of 12);
			}
		}

		.custom {
			@include container;

			.block__figure {
				@include reset;
				@include span(12 of 12);

				@include breakpoint(charlie) {
					@include span(4 of 12);
				}
			}

			.block__content {
				@include span(12 of 12);

				@include breakpoint(charlie) {
					@include span(7 of 12);
					@include shift(1 of 12);
				}
			}
		}
	}

	@include m('news') {
		background-color: $jd-gray--light;

		.module {
			@include e('header') {
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 3 * $base-spacing;
				p {
					margin: 0;
				}
			}
		}
	}

	@include m('interviews') {
		.block__wrapper {
			padding-bottom: 0;
		}
	}

	@include m('sponsors') {
		.module {
			@include e('header') {
				text-align: center;
			}
			@include e('title') {
				display: inline-block;
				position: relative;
				color: $jd-gray;
				@include font($font-size--h3, $light);

				@include breakpoint(charlie) {
					&:before,
					&:after {
						content: "";
						position: absolute;
						height: 0;
						border-top: 1px solid $jd-gray;
						top: 50%;
						width: 100%;
					}
					&:before {
						right: 100%;
						margin-right: 15px;
					}
					&:after {
						left: 100%;
						margin-left: 15px;
					}
				}
			}
			@include e('content') {
				text-align: center;
				@include container;
				.custom {
					@include span(12 of 12);
					padding: 0 $base-spacing;
					@include breakpoint(charlie) {
						@include span(8 of 12);
						@include shift(2 of 12);
						padding: 0;
					}
				}
			}
		}
	}
}
