.block {
	@include e('paralax') {
		position: relative;
		height: auto;
		padding: 3 * $base-spacing 0;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-attachment: fixed;

		&:after {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			z-index: -1;
			content: ' ';
		}

		@include m('first') {
			position: relative;
			padding-top: 75px;
		}

		@include e('figure') {
			@include position(absolute, -75px null null null);
			@include size(100px);
		}
	}

	@include e('wrapper') {
		@include outer-container;
		padding: 3 * $base-spacing $base-spacing;

		@include media($charlie) {
			padding: 3 * $base-spacing 0;
		}
	}

	@include e('header') {
		@include m('home') {
			background-image: url("../images/headers/header_afbeelding_jd17nl.jpg");
			background-position: 50% 0;

			> div {
				.module {

					&:first-child {
						color: $white;
					}

					&:last-child {
						background-color: $white;
						padding: $base-spacing;
						.module__title {
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					@include media ($charlie) {
						&:first-child {
							@include span-columns(5 of 12);
							@include shift(1 of 12);
						}
						&:last-child {
							@include span-columns(4 of 12);
							@include shift(1 of 12);
						}
					}
				}
			}
		}
	}

	@include m('info') {
		@include outer-container;

		.module {
			@include span-columns(12 of 12);

			@include media ($charlie) {
				@include span-columns(8 of 12);
				@include shift(2 of 12);
			}
		}

		.custom {
			@include outer-container(100%);

			.block__figure {
				@include reset;
				@include span-columns(12 of 12);

				@include media ($charlie) {
					@include span-columns(4 of 12);
				}
			}

			.block__content {
				@include span-columns(12 of 12);

				@include media ($charlie) {
					@include span-columns(7 of 12);
					@include shift(1 of 12);
				}
			}
		}
	}

	@include m('news') {
		background-color: $jd-gray--light;

		.module {
			@include e('header') {
				text-transform: uppercase;
				text-align: center;
				margin-bottom: 3 * $base-spacing;
				p {
					margin: 0;
				}
			}
		}
	}

	@include m('interviews') {
		.block__wrapper {
			padding-bottom: 0;
		}
	}

	@include m('sponsors') {
		.module {
			@include e('header') {
				text-align: center;
			}
			@include e('title') {
				display: inline-block;
				position: relative;
				color: $jd-gray;
				@include font($font-size--h3, $light);

				@include media($charlie) {
					&:before,
					&:after {
						content: "";
						position: absolute;
						height: 0;
						border-top: 1px solid $jd-gray;
						top: 50%;
						width: 100%;
					}
					&:before {
						right: 100%;
						margin-right: 15px;
					}
					&:after {
						left: 100%;
						margin-left: 15px;
					}
				}
			}
			@include e('content') {
				text-align: center;
				@include outer-container(100%);
				.custom {
					@include span-columns(12 of 12);
					padding: 0 $base-spacing;
					@include media($charlie) {
						@include span(8 of 12);
						@include shift(2 of 12);
						padding: 0;
					}
				}
			}
		}
	}
}
