.blog {
	.cards {
		@include container;
	}

	.card {
		@include clearfix;

		//&:hover {
		//	background-color: $jd-blue;
		//}

		@include e('image') {
			padding: 0 $base-spacing;

			a {
				display: block;
			}

			@include breakpoint(charlie) {
				padding: 0;
			}

			@include m('border') {
				border: 1px solid $jd-gray;
				padding: 2 * $base-spacing $base-spacing;

				@include breakpoint(charlie) {
					padding: 2 * $base-spacing 0;
				}
			}
		}

		@include e('content') {
			position: relative;
			padding: 0 $base-spacing;

			@include breakpoint(charlie) {
				padding: 0;
			}
		}

		@include breakpoint(charlie) {
			@include e('image') {
				@include span(2 of 8);
			}

			@include e('content') {
				@include span(6 of 8);

				@include m('hideimage') {
					@include span(8 of 8);
				}
			}
		}

		@include e('create') {
			@include create;
		}

		@include e('body') {
			a:not(.btn) {
				@include anchor($jd-blue, $jd-blue--dark, true, true);
			}
		}

		.card--body,
		.card--actions {
			display: none;
			@include breakpoint(charlie) {
				display: block;
			}
		}
	}
}

.card {
	padding: $base-spacing 0;
	@include e('header') {
		position: relative;
		h1 {
			margin-top: 0;
		}
		h2 {
			@include font($font-size--h2, $bold, $line-height--header, $font-family);

			a {
				@include anchor($jd-gray--dark, $black, false);
			}
		}

		@include m('unread') {
			background-color: $jd-gray;
			color: $white;
			text-transform: lowercase;
			padding: 0 $base-spacing * 0.125;
			@include font($font-size--h4, $normal, $line-height, $font-family);
		}

		@include breakpoint(charlie) {
			padding-right: 3 * $base-spacing;
		}

	}

	& + & {
		border-top: 1px solid $jd-gray;
	}

	@include m('read') {
		.card {
			@include e('image') {
				a {

					position: relative;
					display: block;
					&:before {
						content: "";
						display: block;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						background-color: rgba(255, 255, 255, .3);
					}
				}
			}
			@include e('header') {
				h2 {
					a {
						@include anchor($jd-gray, $jd-gray--dark, false);
					}
				}
			}
			@include e('body') {
				color: $jd-gray;
			}
		}
	}

	@include e('presentations') {
		margin: $base-spacing 0;
	}

	@include e('meta') {
		margin-bottom: $base-spacing;
	}

	@include e('meta-item') {
		padding-right: 1/2 * 2/3 * $base-spacing;

		& + & {
			border-left: 1px solid $jd-gray;
			padding-left: 1/2 * 2/3 * $base-spacing;
		}
	}
}

.card-links {
	margin: $base-spacing 0;

	@include e('item') {
		@include container;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		border-top: 1px solid $jd-gray;
		padding: 0 0.5 * $base-spacing;

		&:hover {
			background-color: $jd-blue;
		}
	}

	@include e('link') {
		flex-basis: percentage(8/8);
		@include font($font-size--h3, $bold, $line-height--header, $font-family);
		@include anchor;
	}

	@include e('create') {
		flex-basis: percentage(8/8);
		@include font($font-size--h5, $normal, $line-height--header, $font-family);
		color: $jd-blue;
	}

	@include breakpoint(charlie) {
		@include e('link') {
			flex-basis: percentage(6/8);
		}

		@include e('create') {
			flex-basis:percentage(2/8);
			text-align: right;
		}
	}
}
