.newsflash-news {

	@include e('item') {
		@include container;
		margin: 1.5 * $base-spacing 0;
	}

	@include grid-media($grid-charlie) {
		@include e('image') {
			@include grid-column(3 of 12);
			@include shift(1 of 12);
		}

		@include e('content') {
			@include grid-column(6 of 12);
			@include shift(1 of 12);
		}

		@include e('create') {
			@include font($font-size--h6);
		}

		@include e('header') {
			text-transform: uppercase;
			a {
				color: $type;
			}
		}
	}
}

.newsflash-interview{
	@include e('item') {
		@include container;
		padding-bottom: 1.5 * $base-spacing;
		margin: 1.5 * $base-spacing 0;
		border-bottom: 1px solid $jd-gray--dark;
	}

	@include grid-media($grid-charlie) {
		@include e('image') {
			@include grid-column(2 of 12);
			@include shift(1 of 12);
		}

		@include e('content') {
			@include grid-column(8 of 12);
		}

		@include e('create') {
			@include font($font-size--h6);
		}

		@include e('header') {
			text-transform: uppercase;
			a {
				color: $type;
			}
		}

		@include e('create') {
			@include visually-hidden;
		}
	}
}
