
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;


$green: #7ac143;
$yellow: #f9a541;
$blue: #5091cd;
$red: #f44321;

$base-800: #25304f;
$base-600: #4076a2;
$base-400: #2383c6;
$base-200: #91c5ea;

$white-color: #fff;
$primary-color: $blue;
$primary-dark: $yellow;
$secondary-color: $base-800;
$blue-bg: $base-800;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;

