@mixin button-medium {
	@include font($font-size--h4, $normal, $line-height, $font-family--roboto);
	line-height: $font-size;
	padding: floor(0.5 * $font-size);
}

@mixin button-large {
	/* Smaller font size for mobile views */
	font-size: $font-size--h2;
	line-height: $font-size--h2;
	padding: floor($font-size--h2);

	/* Larger font on desktop views */
	@include breakpoint($beta) {
		font-size: $font-size--h1;
		line-height: $font-size--h1;
		padding: floor($font-size--h1);
	}
}

$buttons-list: 'button',
	'input[type="button"]',
	'input[type="reset"]',
	'input[type="submit"]',
	'.btn';

$all-buttons:        assign-inputs($buttons-list);
$all-buttons-active: assign-inputs($buttons-list, active);
$all-buttons-focus:  assign-inputs($buttons-list, focus);
$all-buttons-hover:  assign-inputs($buttons-list, hover);

#{$all-buttons} {
	-webkit-appearance: inherit;
	background-color: $action-color;
	border: 0;
	border-radius: $base-border-radius;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: $base-font-family;
	font-size: $base-font-size;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	line-height: 1;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: shade($action-color, 20%);
		color: #fff;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: $action-color;
		}
	}
}





$buttons-list--ghost: '.btn--ghost';

$all-buttons--ghost:        assign-inputs($buttons-list--ghost);
$all-buttons--ghost-active: assign-inputs($buttons-list--ghost, active);
$all-buttons--ghost-focus:  assign-inputs($buttons-list--ghost, focus);
$all-buttons--ghost-hover:  assign-inputs($buttons-list--ghost, hover);

#{$all-buttons--ghost} {
	$action-color: transparent;
	-webkit-appearance: inherit;
	background-color: $action-color;
	border: 1px solid $white;
	border-radius: $base-border-radius;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: $base-font-size;
	font-weight: $bold;
	line-height: $base-line-height;
	font-family: $base-font-family;
	-webkit-font-smoothing: antialiased;
	padding: $small-spacing $base-spacing;
	text-align: center;
	text-decoration: none;
	transition: background-color $base-duration $base-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: shade($action-color, 20%);
		color: $white;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: $action-color;
		}
	}
}
