/* A visual grid to show if elements are correctly inside the grid */

.overlay-grid-container {
  position: fixed; // Fill complete page
  top: 0; // Fill complete page
  right: 0; // Fill complete page
  bottom: 0; // Fill complete page
  left: 0; // Fill complete page
  height: 100%; // Fill complete page

  /* Hide on mobile since everything is one column */
  opacity: 0;

  /* Display from $beta */
  @include breakpoint($beta) {
    opacity: 1;
  }
}

.overlay-grid {
  @include clearfix;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: $container-width; // Same width as site width
  padding-left: $site-spacing; // Set same spacing as .containers
  padding-right: $site-spacing; // Set same spacing as .containers
  outline: 1px solid magenta; // Use outline not to mess with css positioning
}

.overlay-grid__item {
  outline: 1px solid magenta; // Use outline not to mess with css positioning
  height: 100%; // Fill complete page

  // Hide the last six on tablets
  @include breakpoint($beta, range, $charlie--min) {
    @include gallery(1 of 6);
    &:nth-child(n+7) {
      display: none;
    }
  }

  // Show all on desktop
  @include breakpoint($charlie) {
    @include gallery(1 of 12);
    &:nth-child(n+7) {
      display: block;
    }
  }
}