/*
Type

Styleguide 1.2
*/

/*
Font-size settings

$font-size - default font-size
$font-size--h1 - font-size for header 1
$font-size--h2 - font-size for header 2
$font-size--h3 - font-size for header 3
$font-size--h4 - font-size for header 4
$font-size--h5 - font-size for header 5
$font-size--h6 - font-size for header 6
$font-size--big - font-size big
$font-size--p - font-size default - paragraph
$font-size--small - font-size small
$font-size--tiny - font-sizes tiny

markup:
<pre style="font-size:{$modifiers};">{$modifiers}</pre>

Styleguide 1.2.1
*/

//$font-size: 18px !default;
//$font-size--h1: 45px !default;
//$font-size--h2: 30px !default;
//$font-size--h3: 24px !default;
//$font-size--h4: 20px !default;
//$font-size--h5: 16px !default;
//$font-size--h6: 11px !default;

$font-size: 18px !default;
$font-size--h1: 2 * $font-size !default;
$font-size--h2: 2rem;
$font-size--h3: 1.25 * $font-size !default;
$font-size--h4: $font-size !default;
$font-size--h5: 7/8 * $font-size !default;
$font-size--h6: 3/4 * $font-size !default;

//$font-size--big: 15px !default;
//$font-size--p: $font-size !default;
//$font-size--small: 12px !default;
//$font-size--tiny: 10px !default;

$base-font-size: $font-size;

/*
Font-Family settings

$font-family - default font family
$font-family--serif - serif font family
$font-family--sans-serif - sans-serif font family
$font-family--fallback - fallback font family

markup:
<pre style="font-family:{$modifiers};">{$modifiers}</pre>

Styleguide 1.2.2
*/

$font-family--serif: serif;
$font-family--sans-serif: sans-serif;
$font-family--fallback: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', $font-family--sans-serif;
$font-family--opensans: 'Open Sans', $font-family--fallback;
$font-family: $font-family--opensans;

$font-stack-system: $font-family;


/*
Font-weight settings

$light - light font-weight
$normal - normal font-weight
$bold - bold font-weight

markup:
<pre style="font-weight:{$modifiers};">{$modifiers}</pre>

Stylegyide 1.2.3
*/

$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

/*
Line height settings

$line-height - default line-height

Styleguide 1.2.4
*/

$line-height: 1.5 * $font-size;
$line-height--header: 1.75 * $font-size;


$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size: 18px;
