<?xml version="1.0" encoding="utf-8"?>
<config>
<!-- ######################### J2.5 params ######################### -->
<fieldset name="integration_settings" label="JT_INTEGRATION_SET" description="" addfieldpath="/administrator/components/com_jticketing/assets/elements">
	<field name="integration" class="radio btn-group" type="integrations" default="2" description="JTGEOEN_TOOLTIP" label="JTGEOEN" />
	<field name="enable_online_events" class="btn-group" default="0" type="radio" label="COM_JTICKETING_ENABLE_ALLOW_EVENTS" description="COM_JTICKETING_ENABLE_ALLOW_EVENTS_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="collect_attendee_info_checkout" class="radio btn-group" type="radio" default="0" label="COM_JTICKETING_COLLECT_ATTENDEE_INFO" description="COM_JTICKETING_COLLECT_ATTENDEE_INFO_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="enforce_vendor" class="btn-group" default="0" type="radio" label="COM_JTICKETING_ENFORCE_USER_TO_BE_VENDOR" description="COM_JTICKETING_ENFORCE_USER_TO_BE_VENDOR_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="event_approval" class="btn-group" default="0" type="radio" label="COM_JTICKETING_EVENT_APPROVAL" description="COM_JTICKETING_EVENT_APPROVAL_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="show_access_level" class="btn-group" type= "radio"  default="0" label="COM_JTICKETING_SHOW_ACCESS_LEVELS" description="COM_JTICKETING_SHOW_ACCESS_LEVELS_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="default_accesslevels" type="accesslevels" default="1" showon="show_access_level:1" label="COM_JTICKETING_SELECT_ACCESS_LEVELS" description="COM_JTICKETING_SELECT_ACCESS_LEVELS_DESC" />
	<field name="gravatar" class="btn-group" type="radio" default="0" label="COM_JTICKETING_GRAVATAR_INT_CONF" description="COM_JTICKETING_GRAVATAR_INT_CONF_DESC" >
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="google_map_api_key" type="text" default="" label="JT_SITE_ADMIN_GOOGLE_MAP_API_KEY_LBL" description="JT_SITE_ADMIN_GOOGLE_MAP_API_KEY_DES" />
	<field name="jticketing_google_map_api_note" type="note" id="jticketing_google_map_api_note" label="" default="" hint="" />
	<field name="gmaps_default_zoom_level" type="number" default="10" label="COM_JTICKETING_GMAPS_DEFAULT_ZOOM_LEVEL" description="COM_JTICKETING_GMAPS_DEFAULT_ZOOM_LEVEL_DESC" />
</fieldset>
<fieldset name="guest_settings" label="JT_GUEST_SET" description="" addfieldpath="/administrator/components/com_jticketing/assets/elements">
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_DISPLAY_SETTINGS" label="" description="" />
	<field name="load_bootstrap" type="radio" default="0" label="COM_JTICKETING_LOAD_BOOTSTRAP" description="COM_JTICKETING_LOAD_BOOTSTRAP_DESC" class="btn-group">
	<option value="1">JYES</option>
	<option value="0">JNO</option>
	</field>
	<field name="show_ticket_type_description" type="radio" default="0" label="COM_JTICKETING_SHOW_TICKET_DESCRIPTION" description="COM_JTICKETING_SHOW_TICKET_DESCRIPTION_DESC" class="btn-group">
	<option value="1">JYES</option>
	<option value="0">JNO</option>
	</field>
	<field name="image_resolution" class="btn-group" type="radio" default="600" description="COM_JTICKETING_EVENT_IMAGE_RESOLUTION" label="COM_JTICKETING_EVENT_IMAGE_RESOLUTION_DESC">
		<option value="800">COM_JTICKETING_HIGH</option>
		<option value="600">COM_JTICKETING_MEDIUM</option>
		<option value="400">COM_JTICKETING_LOW</option>
	</field>
	<field name="date_format_show" class="btn-group" default="D, M d h:i A" type="inputbox" label="COM_JTICKETING_DATE_FORMAT_TO_SHOW" description="COM_JTICKETING_DATE_FORMAT_TO_SHOW_DESC"></field>
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_PIN_VIEW_SETTING" label="" description="" />
	<field name="pin_width" class="validate-numeric" type="text" default="280" label="COM_JTICKETING_PIN_WIDTH" description="COM_JTICKETING_PIN_WIDTH_DESC" />
	<field name="pin_padding" type="text" class="validate-numeric" default="10" label="COM_JTICKETING_PIN_PADDING" description="COM_JTICKETING_PIN_PADDING_DESC" />
	<field name="desc_length" class="validate-numeric" type="text" default="100" label="COM_JTICKETING_EVENT_DESC_LBL" description="COM_JTICKETING_EVENT_DESC" />
	<field menu="hide" type="legend" label="" default="COM_JTICKETING_OPTIONAL_BILLING_INFO_FIELDS" description=""/>
	<field name="show_selected_fields" class="btn-group" type="radio" default="0" label="COM_JTICKETING_SHOW_ALL_FIELDS" description="COM_JTICKETING_SHOW_ALL_FIELDS_DESC" >
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="billing_info_field" type="list" default="customer_note" showon="show_selected_fields:1" multiple="multiple" label="COM_JTICKETING_SELECT_FIELD_TO_HIDE_BILLING_INFO" description="COM_JTICKETING_SELECT_FIELD_TO_HIDE_BILLING_INFO_DESC">
		<option value="address">COM_JTICKETING_BILLING_ADDRESS</option>
		<option value="country">COM_JTICKETING_BILLING_COUNTRY</option>
		<option value="state">COM_JTICKETING_BILLING_STATE</option>
		<option value="city">COM_JTICKETING_BILLING_CITY</option>
		<option value="zip">COM_JTICKETING_BILLING_ZIPCODE</option>
		<option value="customer_note">COM_JTICKETING_BILLING_CUSTOMER_NOTE</option>
	</field>
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_SOCIAL_SHARE" label="" description="" />
	<field name="social_sharing" class="btn-group" type="radio" default="1" label="COM_JTICKETING_ENABLE_SOCIAL_SHARING" description="COM_JTICKETING_ENABLE_SOCIAL_SHARING_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="social_shring_type" class="btn-group" type="radio" default="native" label="COM_JTICKETING_SOCIAL_SHARING_TYPE" description="COM_JTICKETING_SOCIAL_SHARING_TYPE_DESC">
		<option value="addthis">COM_JTICKETING_ADDTHIS_SOCIAL</option>
		<option value="native">COM_JTICKETING_NATIVE_NATIVE</option>
	</field>
	<field name="addthis_publishid" type="text" default="" label="COM_JTICKETING_SELECT_ADDTHIS_PUBLISHED_ID" description="COM_JTICKETING_SELECT_ADDTHIS_PUBLISHED_ID_DES" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_QR_CODE_SETTING" label="" description="" />
	<field name="qr_code_width" class="validate-numeric" type="text" default="80" label="COM_JTICKETING_QR_CODE_WIDTH" description="COM_JTICKETING_QR_CODE_HEIGHT" />
	<field name="qr_code_height" class="validate-numeric" type="text" default="80" label="COM_JTICKETING_QR_CODE_HEIGHT" description="COM_JTICKETING_QR_CODE_HEIGHT_DESC" />
</fieldset>
<fieldset name="media_settings"
		label="COM_JTICKETING_MEDIA_SETTINGS"
		description="">
	<field name="jticketing_media_upload_path"  type="text"
		default="media/com_jticketing/events"
		description="COM_JTICKETING_MEDIA_PATH_DESC"
		label="COM_JTICKETING_MEDIA_PATH" />
	<field name="jticketing_media_size"  type="number"
		default="15"
		description="COM_JTICKETING_MEDIA_SIZE_DESC"
		label="COM_JTICKETING_MEDIA_SIZE" />
	<field menu="hide" type="legend"
		id="jticketing-image-display-settings"
		name="jticketing-image-display-settings"
		label=""
		default="COM_JTICKETING_IMAGE_DISPLAY_SETTINGS"
		hint="" />
	<field name="site_panel_images" type="note" label="COM_JTICKETING_SITE" />
	<field name="front_event_pin_view" type="list" default="media_s"
		description="COM_JTICKETING_FRONT_EVENT_PIN_VIEW_IMAGE_DESC"
		label="COM_JTICKETING_FRONT_EVENT_PIN_VIEW_IMAGE">
		<option value="media_s">COM_JTICKETING_IMAGE_SMALL</option>
		<option value="media_m">COM_JTICKETING_IMAGE_MEDIUM</option>
		<option value="media_l">COM_JTICKETING_IMAGE_LARGE</option>
		<option value="media">COM_JTICKETING_IMAGE_ORIGINAL</option>
	</field>
	<field name="front_event_detail_view" type="list" default="media"
		description="COM_JTICKETING_FRONT_EVENT_DETAIL_VIEW_IMAGE_DESC"
		label="COM_JTICKETING_FRONT_EVENT_DETAIL_VIEW_IMAGE">
		<option value="media_s">COM_JTICKETING_IMAGE_SMALL</option>
		<option value="media_m">COM_JTICKETING_IMAGE_MEDIUM</option>
		<option value="media_l">COM_JTICKETING_IMAGE_LARGE</option>
		<option value="media">COM_JTICKETING_IMAGE_ORIGINAL</option>
	</field>
	<field name="front_event_gallery_view" type="list" default="media_s"
		description="COM_JTICKETING_FRONT_EVENT_GALLERY_VIEW_IMAGE_DESC"
		label="COM_JTICKETING_FRONT_EVENT_GALLERY_VIEW_IMAGE">
		<option value="media_s">COM_JTICKETING_IMAGE_SMALL</option>
		<option value="media_m">COM_JTICKETING_IMAGE_MEDIUM</option>
		<option value="media_l">COM_JTICKETING_IMAGE_LARGE</option>
		<option value="media">COM_JTICKETING_IMAGE_ORIGINAL</option>
	</field>
	<field name="admin_panel_images" type="note" label="COM_JTICKETING_ADMIN"/>
	<field name="admin_event_detail_view" type="list" default="media_s"
		description="COM_JTICKETING_ADMIN_EVENT_DETAIL_VIEW_IMAGE_DESC"
		label="COM_JTICKETING_ADMIN_EVENT_DETAIL_VIEW_IMAGE">
		<option value="media_s">COM_JTICKETING_IMAGE_SMALL</option>
		<option value="media_m">COM_JTICKETING_IMAGE_MEDIUM</option>
		<option value="media_l">COM_JTICKETING_IMAGE_LARGE</option>
		<option value="media">COM_JTICKETING_IMAGE_ORIGINAL</option>
	</field>
	<field name="admin_event_gallery_view" type="list" default="media_s"
		description="COM_JTICKETING_ADMIN_EVENT_GALLERY_VIEW_IMAGE_DESC"
		label="COM_JTICKETING_ADMIN_EVENT_GALLERY_VIEW_IMAGE">
		<option value="media_s">COM_JTICKETING_IMAGE_SMALL</option>
		<option value="media_m">COM_JTICKETING_IMAGE_MEDIUM</option>
		<option value="media_l">COM_JTICKETING_IMAGE_LARGE</option>
		<option value="media">COM_JTICKETING_IMAGE_ORIGINAL</option>
	</field>
	<field menu="hide" type="legend"
		id="jticketing-image-resize-settings"
		name="jticketing-image-resize-settings"
		label=""
		default="COM_JTICKETING_IMAGE_RESIZE_SETTINGS"
		hint="" />
	<field name="small_width" type="number"
		class="validate-numeric" default="128"
		label="COM_JTICKETING_IMAGE_SMALL_WIDTH"
		description="COM_JTICKETING_IMAGE_SMALL_WIDTH_DESC" />
	<field name="small_height" type="number"
		class="validate-numeric" default="128"
		label="COM_JTICKETING_IMAGE_SMALL_HT"
		description="COM_JTICKETING_IMAGE_SMALL_HT_DESC" />
	<field name="medium_width" type="number"
		class="validate-numeric" default="240"
		label="COM_JTICKETING_IMAGE_MED_WIDTH"
		description="COM_JTICKETING_IMAGE_MED_WIDTH_DESC" />
	<field name="medium_height" type="number"
		class="validate-numeric" default="240"
		label="COM_JTICKETING_IMAGE_MED_HT"
		description="COM_JTICKETING_IMAGE_MED_HT_DESC" />
	<field name="large_width" type="number"
		class="validate-numeric" default="800"
		label="COM_JTICKETING_IMAGE_LARG_WIDTH"
		description="COM_JTICKETING_IMAGE_LARG_WIDTH_DESC" />
	<field name="large_height" type="number"
		class="validate-numeric" default="286"
		label="COM_JTICKETING_IMAGE_LARG_HT"
		description="COM_JTICKETING_IMAGE_LARG_HT_DESC" />
</fieldset>
<fieldset name="jomsocial_settings" label="JT_JOM_SPECIFIC_SET" description="" addfieldpath="/administrator/components/com_jticketing/assets/elements">
	<field menu="hide" name="" type="legend" default="JT_INTEGRATION_SET" label="" description="" />
	<field name="social_integration" class="btn-group" type="integrations" default="joomla" description="COM_JTICKETING_INTERATION_DESC" label="COM_JTICKETING_INTERATION" />
	<field menu="hide" type="legend" id="jticket-integration-activity" name="jticket-integration-activity" default="COM_JTICKETING_ACTIVITY_STREAM_INTEGRATION" hint="COM_JTICKETING_ACTIVITY_STREAM_INTEGRATION_HINT" label="" />
	<field name="integrate_with" class="btn-group" type="radio" default="none" description="COM_JTICKETING_INTEGRATE_WITH_DESC" label="COM_JTICKETING_INTEGRATE_WITH">
		<option value="none">JNONE</option>
		<option value="EasySocial">COM_JTICKETING_EASYSOCIAL</option>
		<option value="JomSocial">COM_JTICKETING_JOMSOCIAL</option>
	</field>
	<field name="streamAddEvent" class="btn-group" showon="integrate_with:EasySocial[OR]integrate_with:JomSocial" type="radio" default="0" label="COM_JTICKETING_ACTIVITY_STREAM_ADD_EVENT" description="COM_JTICKETING_ACTIVITY_STREAM_ADD_EVENT_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="streamBuyTicket" class="btn-group" showon="integrate_with:EasySocial[OR]integrate_with:JomSocial" type="radio" default="0" description="COM_JTICKETING_ACTIVITY_BUY_TICKET" label="COM_JTICKETING_ACTIVITY_BUY_TICKET_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="streamCheckinTicket" class="btn-group" showon="integrate_with:EasySocial[OR]integrate_with:JomSocial" type="radio" default="0" label="COM_JTICKETING_ACTIVITY_CHECKIN_TICKET" description="COM_JTICKETING_ACTIVITY_CHECKIN_TICKET_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_JOMSOCIAL_SPECIFIC_SETTING" label="" description="" />
	<field name="guest_reg_id" type="text" default="0" label="GUEST_REG_ID" description="GUEST_REG_ID_DES" />
	<field name="show_js_toolbar" class="radio btn-group" type="radio" default="0" label="JT_SHOW_JS_TOOLBAR" description="JT_SHOW_JS_TOOLBAR_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="affect_js_native_seats" class="radio btn-group" type="radio" default="0" label="JT_AFFECT_NAT_JS_SEAT" description="JT_AFFECT_NAT_JS_SEAT_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="auto_fix_seats" class="radio btn-group" type="radio" default="0" label="AUTO_FIX_SEATS" description="AUTO_FIX_SEATS_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_BILLING_INFO_SETTING" label="" description="" />
	<field name="profile_import" class="btn-group" type= "radio"  default="0" label="COM_JTICKETING_PROFILE_IMPORT" description="COM_JTICKETING_PROFILE_IMPORT_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="fieldmap" type="fieldmapping" label="COM_JTICKETING_JOOMLA_PROFILE_MAPPING" description="COM_JTICKETING_JOOMLA_PROFILE_MAPPING_DESC" cols="35" rows="5" />
	<field name="jomsocial_fieldmap" type="jomsocialfieldmapping" label="COM_JTICKETING_JOMSOCIAL_PROFILE_MAPPING" description="COM_JTICKETING_JOMSOCIAL_PROFILE_MAPPING_DESC" cols="35" rows="5" />
	<field name="cb_fieldmap" type="cbfieldmapping" label="COM_JTICKETING_CB_PROFILE_MAPPING" description="COM_JTICKETING_CB_PROFILE_MAPPING_DESC" cols="35" rows="5" />
	<field name="easysocial_fieldmap" type="easysocialfieldmapping" label="COM_JTICKETING_EASYSOCIAL_PROFILE_MAPPING" description="COM_JTICKETING_EASYSOCIAL_PROFILE_MAPPING_DESC" cols="35" rows="5" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_TRAININ_CAL_SETTING" label="" description="" />
	<field name="enable_self_enrollment" class="btn-group" default="0" type="radio" label="COM_JTICKETING_ENABLE_SELF_ENROLLMENT" description="COM_JTICKETING_ENABLE_SELF_ENROLLMENT_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="accesslevels_for_enrollment" type="accesslevelsenroll" multiple="multiple" default="1" label="COM_JTICKETING_SELECT_ACCESS_LEVELS_FOR_ENROLLMENT" description="COM_JTICKETING_SELECT_ACCESS_LEVELS_FOR_ENROLLMENT_DESC" />
</fieldset>
<fieldset name="pricing_settings" label="JT_PRICING_SET" description="" addfieldpath="/administrator/components/com_jticketing/assets/elements">
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_PAYMENT_GATEWAY_SETTING" label="" description="" />
	<field name="gateways" type="gatewayplg" default="bycheck" multiple="multiple" label="SELECT_GATEWAY" description="SELECT_GATEWAY_DES" />
	<field name="currency" type="currencylist" label="COM_JTICKETING_CURRENCY_LIST" description="COM_JTICKETING_CURRENCY_LIST_DES" />
	<field name="currency_code_or_symbol" class="radio btn-group" type="radio" default="symbol" label="COM_JTICKETING_CURRENCY_SYMBOL_OR_CODE" description="COM_JTICKETING_CURRENCY_SYMBOL_OR_CODE_DES">
		<option value="code">COM_JTICKETING_CODE</option>
		<option value="symbol">COM_JTICKETING_SYMBOL</option>
	</field>
	<field name="currency_display_format" type="text" default="{AMOUNT} {CURRENCY_SYMBOL} " label="COM_JTICKETING_CURRENCY_DISPLAY_FORMAT" description="COM_JTICKETING_CURRENCY_DISPLAY_FORMAT_DESC" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_FEES_CONFIG_SETTING" label="" description="" />
	<field name="handle_transactions" class="radio btn-group" type="radio" default="0" label="COM_JTICKETING_HANDLE_TRANSACTIONS" description="COM_JTICKETING_HANDLE_TRANSACTIONS_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="siteadmin_comm_per" class="validate-numeric" type="text" default="0" label="JT_SITE_ADMIN_COMMISSION_PER" description="JT_SITE_ADMIN_COMMISSION_PER_DES" />
	<field name="siteadmin_comm_flat" type="text" class="validate-numeric" default="0" label="JT_SITE_ADMIN_COMMISSION_FLAT" description="JT_SITE_ADMIN_COMMISSION_FLAT_DES" />
	<field name="siteadmin_comm_cap" type="number" id="jticketing_siteadmin_comm_cap" class="validate-numeric" default="0" min="0" step="any" label="JT_SITE_ADMIN_COMMISSION_CAP" description="JT_SITE_ADMIN_COMMISSION_CAP_DES" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_ORDER_CHECKOUT_TAX_SETTING" label="" description="" />
	<field name="order_prefix" type="text" default="JT" maxlength="5" label="COM_JTICKETING_ORDER_PREFIX" description="COM_JTICKETING_ORDER_PREFIX_DESC" />
	<field name="separator" type="text" default="-" maxlength="1" label="COM_JTICKETING_SEPARATOR" description="COM_JTICKETING_SEPARATOR_DESC" />
	<field name="random_orderid" class="radio btn-group" type="radio" default="0" label="COM_JTICKETING_RANDOM_OREDRID" description="COM_JTICKETING_RANDOM_OREDRID_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="padding_count" type="text" default="3" class="validate-numeric" label="COM_JTICKETING_PADDING_COUNT" description="COM_JTICKETING_PADDING_COUNT_DESC" />
	<field name="allow_taxation" type="radio" class="radio btn-group" default="0" label="COM_JTICKETING_ALLOW_TAXATION" description="COM_JTICKETING_ALLOW_TAXATION_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="enable_bill_vat" class="btn-group" type="radio" default="0" label="JT_BILL_VAT_NUM" description="JT_BILL_VAT_NUM_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_COMPANY_INFO_ORDER_INVOICE_SETTING" label="" description="" />
	<field name="company_name" type="text" default="" label="COM_JTICKETING_COMPANY_NAME" description="COM_JTICKETING_COMPANY_NAME_DESC" />
	<field name="company_address" type="text" default="" label="COM_JTICKETING_COMPANY_ADDRESS" description="COM_JTICKETING_COMPANY_ADDRESS_DESC" />
	<field name="company_vat_no" type="text" default="" label="COM_JTICKETING_COMPANY_VAT_NO" description="COM_JTICKETING_COMPANY_VAT_NO_DESC" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_CHECKOUT_CONFIG_SETTING" label="" description="" />
	<field name="allow_buy_guest" class="radio btn-group" type="radio" default="0" label="JT_ALLOW_BUY_GUEST" description="JT_ALLOW_BUY_GUEST_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="enable_coupon" type="radio" class="radio btn-group" default="0" label="COM_JTICKETING_ALLOW_COUPON" description="COM_JTICKETING_ALLOW_COUPON_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="allow_buy_guestreg" class="radio btn-group" type="radio" default="0" label="JT_ALLOW_BUY_GUEST_REG" description="JT_ALLOW_BUY_GUEST_REG_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="eventowner_buy" class="radio btn-group" type="radio" default="1" label="JT_SHOW_EVENT_OWNER_BUY" description="JT_SHOW_EVENT_OWNER_BUY_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="max_noticket_peruserperpurchase" class="validate-numeric" type="text" default="8" label="JT_MAX_NO_OF_TICKETS_PER_USER_PER_PURCHASE" description="JT_MAX_NO_OF_TICKETS_PER_USER_PER_PURCHASE_DES" />
	<field name="article" class="radio btn-group" type="radio" default="0" label="ENABLE_ARTICLE" description="ENABLE_ARTICLE_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="tnc" class="validate-numeric" type="text" default="0" label="JT_TC" description="JT_TC_DES" />
	<field name="default_country" type="countries" default="" label="COM_JTICKETING_SELECT_DEFAULT_COUNTRY" description="COM_JTICKETING_SELECT_DEFAULT_COUNTRY_DES" />
	<field name="default_country_mobile_code" type="text" default="" label="COM_JTICKETING_SELECT_DEFAULT_COUNTRY_MOBILE" description="COM_JTICKETING_SELECT_DEFAULT_COUNTRY_MOBILE_DESC" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_MASSPAY_CONFIG_SETTING" label="" description="" />
	<field name="min_val_masspay" type="text" class="validate-numeric" default="100" maxlength="10" label="MIN_VAL_MASSPAY" description="MIN_VAL_MASSPAY_DES" />
	<field name="apiuser" type="text" default="" label="API_USER" description="API_USER_DES" />
	<field name="apipass" type="text" default="" label="API_PASS" description="API_PASS_DES" />
	<field name="apisign" type="text" default="" label="API_SIGN" description="API_SIGN_DES" />
	<field name="sandbox" class="radio btn-group" type="radio" default="0" label="API_SAND" description="API_SAND_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="apiv" type="text" default="87" class="validate-numeric" label="API_VER" description="API_VER_DES" />
	<field name="private_key_cronjob" class="inputbox" default="az197" label="PRIVATE_KEY_CRON" description="PRIVATE_KEY_CRON_DES" />
	<field name="cronjoburl" type="Cron" label="JT_CRON_URL_MASSPAYMENT" description="JT_CRON_URL_MASSPAYMENT_DES" />
</fieldset>

<!--Integrations Settings-->
<fieldset name="integrations" label="COM_JTICKETING_SOCIAL_INTEGRATION_MANAGER" description="" addfieldpath="/administrator/components/com_jticketing/assets/elements">
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_CONFIGURE_REMINDER_SETTING" label="" description="" />
	<field name="send_auto_reminders" class="btn-group" default="0" type="radio" label="COM_JTICKETING_SEND_AUTO_REMIND" description="COM_JTICKETING_SEND_AUTO_REMIND_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="enb_batch" class="btn-group" default="1" type="radio" label="COM_JTICKETING_ENB_BATCH" description="COM_JTICKETING_ENB_BATCH_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="batch_size_reminders" default="30" type="text" label="COM_JTICKETING_BATCH_SIZE" description="COM_JTICKETING_BATCH_SIZE_DESC" />
	<field name="pkey_for_reminder" default="abcd1234" type="text" label="PRIVATE_KEY_CRON_REM" description="PRIVATE_KEY_CRON_REM_DESC" />
	<field name="cronjoburl_reminder" type="CronReminder" label="COM_JTICKETING_SEND_AUTO_REMIND_CRON" description="COM_JTICKETING_SEND_AUTO_REMIND_CRON_DESC" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_EMAIL_NOTIFICATION_SETTING" label="" description="" />
	<field name="mail_to" type="list" multiple="multiple" default="event_buyer" description="COM_JTICKETING_MAIL_TO_DESC" label="JT_MAIL_TO">
		<option value="site_admin">SITE_ADMIN</option>
		<option value="event_creator">EVENT_OWNER</option>
		<option value="event_buyer">TICKET_BUYER</option>
	</field>
	<field name="email_options" type="list" multiple="multiple" default="ticket_email" label="COM_JTICKETING_EMAIL_OPTIONS" description="COM_JTICKETING_EMAIL_OPTIONS_DESC">
	<option value="order_email">COM_JTICKETING_EMAIL_ORDER</option>
	<option value="order_status_change_email">COM_JTICKETING_ORDER_STATUS_CHANGE</option>
	<option value="ticket_email">COM_JTICKETING_EMAIL_TICKET_EMAIL</option>
	<option value="checkin_email">COM_JTICKETING_EMAIL_CHECKIN_EMAIL</option>
	</field>
	<field name="reply_to" type="text" default="" label="COM_JTICKETING_REPLY_TO_EMAIL" description="COM_JTICKETING_REPLY_TO_EMAIL_DESC" />
	<field name="pdf_attach_in_mail" class="radio btn-group" type="radio" default="1" label="ATTACH_PDF_EMAIL" description="ATTACH_PDF_EMAIL_DES">
	<option value="1">COM_JTICKETING_EMAIL_TICKET_ATTACH_PDF</option>
	<option value="3">COM_JTICKETING_EMAIL_TICKET_SEND_ONLY_HTML</option>
	</field>
	<field name="only_invoice_to_event_creator" class="radio btn-group" type="radio" default="1" label="COM_JTICKETING_ONLY_INVOICE_EMAIL_TO_EVENT_CREATOR" description="COM_JTICKETING_ONLY_INVOICE_EMAIL_TO_EVENT_CREATOR_DES">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="pending_email_enb_batch" class="btn-group" default="1" type="radio" label="COM_JTICKETING_ENB_BATCH" description="COM_JTICKETING_ENB_BATCH_DESC">
		<option value="1">JYES</option>
		<option value="0">JNO</option>
	</field>
	<field name="pending_email_batch_size" default="30" type="text" label="COM_JTICKETING_BATCH_SIZE" description="COM_JTICKETING_BATCH_SIZE_DESC" />
	<field name="pkey_for_pending_email" default="abcd1234" type="text" label="PRIVATE_KEY_CRON_PENDING_EMAIL" description="PRIVATE_KEY_CRON_PENDING_EMAIL_DESC" />
	<field name="cronjoburl_pending_emails" type="CronPendingEmail" label="COM_JTICKETING_SEND_PENDING_EMAIL_CRON" description="COM_JTICKETING_SEND_PENDING_EMAIL_CRON" />
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_ONLINE_EVENT_CHECKIN" label="" description="" />
	<field name="attendancecron_key" class="inputbox" default="abcd1234" label="PRIVATE_KEY_CRON" description="PRIVATE_KEY_CRON_DES" />
	<field name="cron_limit" type="text" default="" label="COM_JTICKETING_CRON_RUN_LIMIT" description="COM_JTICKETING_CRON_RUN_LIMIT_DESC"/>
	<field name="onlineattendance" type="attendancecron" label="COM_JTICKETING_CRON_TO_ONLINE_EVENT_ATTENDANCE" description="COM_JTICKETING_CRON_TO_ONLINE_EVENT_ATTENDANCE_DESC" />
<!--
	<field menu="hide" name="" type="legend" default="COM_JTICKETING_SMS_NOTIFICATION_SETTING" label="" description="" />
	<field name="smsgateways" type="gatewayplgsms" default="plug_tjsms_clickatell" label="COM_JTICKETING_SELECT_GATEWAY_SMS" description="COM_JTICKETING_SELECT_GATEWAY_SMS_DESC" />
-->
</fieldset>
<fieldset name="updates" label="COM_JTICKETING_OPTIONS_UPDATES_LBL">
	<field name="downloadid" type="text" default="" size="30" label="COM_JTICKETING_OPTIONS_DOWNLOADID_LBL" description="COM_JTICKETING_OPTIONS_DOWNLOADID_DESC" />
</fieldset>
<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
	<field name="rules" type="rules" component="com_jticketing" class="inputbox" filter="rules" validate="rules" label="JCONFIG_PERMISSIONS_LABEL" section="component" />
</fieldset>
</config>
