/*
Base styling

Styleguide 2.1
*/
/*
Box size everything

Styleguide 2.1.1
*/

//*, *:before, *:after {
//	box-sizing: border-box;
//}

/*
Body styling

html        - HTML tag styling
body        - BODY tag styling

Styleguide 2.1.2
*/

html {
	//font-size: calc(16px - (24 - 16) * (100vw - 400px) / (800 - 400));
	font-size: calc(18px + .25vw);
}

body {
	font-family: $font-family;
	//@include font(1em, $normal, $line-height, $font-family);
	letter-spacing: 0.02em;
	//overflow: hidden;
	color: $type;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $white;
}


@mixin no-margin {
	margin:0;
}

.content-no-padding {
	.module__content {
		padding: 0;
	}
}

fieldset {
	@include reset;
}

hr {
	border-color: $jd-gray--dark;
}

.visually-hidden,
.element-invisible {
	@include visually-hidden;
}
